.content {
  border-radius: 14px;
  padding: 8px;
  color: #000;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
.inactive-border {
  border: 1px solid #f44336;
}
.active-border {
  border: 1px solid #2196f3;
}
.completed-border {
  border: 1px solid #4caf50;
}
.task {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  /* padding: 2px; */
}
.title {
  font-size: small;
  font-weight: 500;
}
